.slide4 {
  display: block;
  position: relative;
  width: 100%;
  &__right-block {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (594px + 102px));
    margin-left: 102px;
    @include breakpoint(max-width 1366px){
      width: calc(100% - (554px + 102px));
    }
    @include breakpoint(max-width 1024px){
      width: calc(100% - (534px + 102px));
    }
    @include breakpoint(max-width 992px){
      width: calc(100% - (434px + 102px));
    }
    @include breakpoint(max-width 770px){
      width: calc(100% - (260px + 30px));
      margin-left: 30px;
    }
    @include breakpoint(max-width 600px){
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding: 0 30px;
      @include box-sizing(border-box);
    }
    h1 {
      color: #212222;
      margin-top: 93px;
      font-family: $QanelasBold;
      font-size: 27px;
      font-weight: 700;
      line-height: 33px;
      text-transform: uppercase;
      margin-bottom: 34px;
      @include breakpoint(max-width 770px){
        font-size: 20px;
      }
      @include breakpoint(max-width 600px){
        font-size: 12px;
        margin-top: 70px;
        line-height: 20px;
      }
    }
    p {
      width: 100%;
      color: #212222;
      font-size: 17px;
      font-family: $QanelasMedium;
      font-weight: 500;
      @include breakpoint(max-width 770px){
        font-size: 16px;
      }
      @include breakpoint(max-width 600px){
        font-size: 12px;
        width: 100%;
        height: 88px;
        overflow-y: scroll;
      }
      span {
        font-family: $QanelasBold;
        font-weight: 700;
      }
    }
    button{
      width: 210px;
      height: 44px;
      border-radius: 22px;
      background-color: #ff5038;
      background-image: linear-gradient(-11deg, #f94200 0%, #f94200 2%, #fd8000 100%);
      border: none;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 900;
      text-transform: uppercase;
      margin-top: 24px;
    }
  }

}

.s4-absolute-right {
  display: block;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 594px;
  height: 640px;
  overflow: hidden;
  @include breakpoint(max-width 1366px){
    width: 554px;
    height: 600px;
  }
  /*@include breakpoint(max-width 1200px){
    width: 554px;
    height: 600px;
  }*/
  @include breakpoint(max-width 1024px){
    width: 534px;
    height: 580px;
  }
  @include breakpoint(max-width 992px){
    width: 434px;
    height: 480px;
  }
  @include breakpoint(max-width 770px){
    width: 260px;
    height: 336px;
  }
  @include breakpoint(max-width 600px){
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
}